*{
    padding: 0;
    margin: 0;
}

#main{
    margin-top: 100px;
}

.four-col{
    width: 33.33%;
    text-align: left;
}

.two-col{
    width: 16.66%;
    text-align: center;
}

.one-col{
    width: 8.33%;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}
