*{
    padding: 0;
    margin:0;
}
#main{
    margin-top: 50px;
    width: 100%;
    min-height: 300px;
}

.album a{
    text-decoration: none;
    color: black;
}

.card-header{
    height: 100px;
    position: relative;

}

.card-header .left{
    position: absolute;
    left: 0;
}

.card-header .right{
    position: absolute;
    right: 0;
}

.card-body .card-text{
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
}

.card-body .title{
    color: #FFAB00;
    font-size: 1.5em;
    text-transform: capitalize;
}

/*#loadMore{*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    text-align: center;*/
/*}*/

/*#loadMore button{*/
/*    margin-top: 30px;*/
/*    padding: 5px 10px;*/
/*    background-color: yellow;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*}*/
